<html>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Markers</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 5px;
        padding: 0px;
      }

      .container {
        width:500px;
        clear:both;
      }
      .container input{
        width:30%;
        clear:both;
      }
    </style>


	<body>