<% include partials/header %> 

<div class="container">
<h4> Please Type In the Name of the Physician You want to search </h4>
      <form method="POST" action="/query" name="Form">
        <label>FirstName</label><br>
        <input type="text" name="first_name">
        <br>

        <label>MiddleName</label><br>
        <input type="text" name="middle_name">
      
        <br>
        <label>LastName</label><br>
        <input type="text" name="last_name">
      
        <br><br>
        <input onclick="return validateForm();" type="submit" value="Submit"/>
      </form>
    </div>

    <h3 style="color:red"> Physician Not Found! Please Search Again </h3>  


    <script type="text/javascript">

    function validateForm()
    {
        var a=document.forms["Form"]["first_name"].value;
        var b=document.forms["Form"]["last_name"].value;
        if (a==null || a=="",b==null || b=="")
        {
            alert("Both First Name and Last Name are required");
            return false;
        }
        return true;
    }
    </script>
<% include partials/footer %> 